$smallLaptopbg: "(max-width: 1400px)";

$smallLaptop: "(max-width: 1200px)";

$tab: "(max-width: 1024px)";

$bigTab: "(max-width: 992px)";

$smallTab : "(max-width: 768px)";

$mobile : "(max-width: 576px)";

$smallMobile : "(max-width: 420px)";