@charset "UTF-8";
* {
  box-sizing: border-box;
}

.lk_btn {
  display: flex;
  align-items: center;
  background-color: #ffe7df;
  border-left: none;
  border-radius: 30px;
  text-decoration: none;
  min-width: 190px;
  gap: 10px;
  height: 34px;
  margin-left: 10px;
}
.lk_btn.mini {
  min-width: 180px;
}
@media (max-width: 768px) {
  .lk_btn.mini {
    min-width: auto;
  }
}
@media (max-width: 768px) {
  .lk_btn {
    min-width: auto;
    margin-left: 0;
  }
}
.lk_btn span {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f36a4f;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}
.lk_btn span svg, .lk_btn span img {
  width: 19px;
  height: 19px;
  object-fit: contain;
}
.lk_btn p {
  color: #1f1f1f;
  font-size: 12px;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 0;
  padding-right: 10px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .lk_btn p {
    display: none;
    padding-right: 0;
  }
}

.big_title {
  font-size: 32px;
  line-height: 26px;
  font-weight: 600;
  color: #34434c;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .big_title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .big_title {
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 15px;
  }
}

.mini_title {
  font-size: 26px;
  line-height: 26px;
  font-weight: 600;
  color: #34434c;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .mini_title {
    font-size: 25px;
    margin-bottom: 25px;
  }
}
@media (max-width: 576px) {
  .mini_title {
    font-size: 22px;
  }
}

.subtitle_lk {
  color: #333;
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  .subtitle_lk {
    font-size: 15px;
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .subtitle_lk {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 30px;
  }
}

.change_password {
  padding-bottom: 76px;
  padding-top: 60px;
}
@media (max-width: 576px) {
  .change_password {
    padding-top: 45px;
    padding-bottom: 55px;
  }
}
.change_password .change_password_block .change_password_form {
  display: flex;
  gap: 15px;
}
@media (max-width: 576px) {
  .change_password .change_password_block .change_password_form {
    flex-direction: column;
  }
}
.change_password .change_password_block .change_password_form .change_password_input {
  height: 50px;
  font-size: 15px;
  line-height: 100%;
  font-weight: 500;
  color: #34434c;
  padding: 20px;
  border: none;
  outline: none;
  border-radius: 6px;
}
.change_password .change_password_block .change_password_form .change_password_input::placeholder {
  color: #999;
}
@media (max-width: 992px) {
  .change_password .change_password_block .change_password_form .change_password_input {
    font-size: 14px;
    padding: 15px 18px;
    height: 46px;
  }
}
@media (max-width: 576px) {
  .change_password .change_password_block .change_password_form .change_password_input {
    font-size: 15px;
    width: 100%;
    height: 50px;
  }
}
.change_password .change_password_block .change_password_form .change_password_btn {
  color: #f36a4f;
  font-size: 15px;
  line-height: 100%;
  font-weight: 400;
  border: 1px solid #f36a4f;
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  height: 50px;
}
@media (max-width: 992px) {
  .change_password .change_password_block .change_password_form .change_password_btn {
    font-size: 14px;
    height: 46px;
  }
}
@media (max-width: 576px) {
  .change_password .change_password_block .change_password_form .change_password_btn {
    height: 50px;
    font-size: 15px;
    max-width: 210px;
    min-width: 210px;
  }
}

.lk_header {
  background-color: rgba(0, 0, 0, 0.7);
}

.main_lk {
  /* background-image: url('../images/main-bg.png'); */
  background-image: url("../images/bg_main_solid.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.axil-breadcrumb {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
.axil-breadcrumb .separator {
  margin: 0 8px;
}
.axil-breadcrumb .axil-breadcrumb-item {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}
.axil-breadcrumb .axil-breadcrumb-item a {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}
.axil-breadcrumb .axil-breadcrumb-item.active {
  color: #f36a4f;
  font-weight: 500;
  text-decoration: underline;
}

.your_policies {
  padding-top: 60px;
}
@media (max-width: 576px) {
  .your_policies {
    padding-top: 35px;
  }
}
.your_policies .your_policies_block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 35px;
}
@media (max-width: 992px) {
  .your_policies .your_policies_block {
    overflow-x: auto;
  }
}
@media (max-width: 576px) {
  .your_policies .your_policies_block {
    overflow-x: visible;
    margin-bottom: 26px;
  }
}
.your_policies .your_policies_btn {
  background: linear-gradient(to bottom, #f34b58, #f3754b);
  color: #fff;
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
  height: 56px;
  min-width: 256px;
  max-width: 256px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: all ease-in 0.4s;
  border: 1px solid transparent;
}
.your_policies .your_policies_btn:hover {
  color: #f36a4f;
  background: #fff;
  border-color: #f36a4f;
}
@media (max-width: 576px) {
  .your_policies .your_policies_btn {
    min-width: 216px;
    max-width: 216px;
    height: 54px;
  }
}
.your_policies .your_policies_ul {
  display: flex;
  align-items: center;
  background-color: #fdfdfe;
  height: 100px;
  width: 100%;
  padding: 11px 0;
  justify-content: space-between;
  position: relative;
  border-radius: 5px;
}
.your_policies .your_policies_ul::after {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom, #f34b58, #f3754b);
  width: 4px;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  border-radius: 5px;
}
@media (max-width: 992px) {
  .your_policies .your_policies_ul {
    min-width: 992px;
  }
}
@media (max-width: 576px) {
  .your_policies .your_policies_ul {
    min-width: 100%;
    flex-direction: column;
    align-items: start;
    height: 100%;
  }
}
.your_policies .your_policies_ul .your_policies_li {
  border-left: 1px solid #eee;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 15px 0px 15px 20px;
}
@media (max-width: 1200px) {
  .your_policies .your_policies_ul .your_policies_li {
    gap: 8px;
  }
}
@media (max-width: 1024px) {
  .your_policies .your_policies_ul .your_policies_li {
    padding: 15px;
  }
}
@media (max-width: 576px) {
  .your_policies .your_policies_ul .your_policies_li {
    border-left: none;
    width: 100%;
    padding: 10px 30px;
  }
}
@media (max-width: 576px) {
  .your_policies .your_policies_ul .your_policies_li:first-child {
    border-bottom: 1px solid #eee;
    padding: 15px 30px;
    margin-bottom: 10px;
  }
}
.your_policies .your_policies_ul .your_policies_li:first-child .your_policies_li_title {
  color: #f34d57;
  font-size: 18px;
}
@media (max-width: 1200px) {
  .your_policies .your_policies_ul .your_policies_li:first-child .your_policies_li_title {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .your_policies .your_policies_ul .your_policies_li:first-child .your_policies_li_title {
    font-size: 20px;
  }
}
.your_policies .your_policies_ul .your_policies_li:first-child .your_policies_li_sp {
  font-size: 14px;
}
@media (max-width: 1200px) {
  .your_policies .your_policies_ul .your_policies_li:first-child .your_policies_li_sp {
    font-size: 13px;
  }
}
@media (max-width: 576px) {
  .your_policies .your_policies_ul .your_policies_li:first-child .your_policies_li_sp {
    font-size: 14px;
  }
}
.your_policies .your_policies_ul .your_policies_li:last-child {
  background-color: #fef5f6;
  height: 100px;
  justify-content: center;
  border-radius: 0;
  border-left: none;
  padding-right: 30px;
  border-radius: 0 5px 5px 0;
}
@media (max-width: 1024px) {
  .your_policies .your_policies_ul .your_policies_li:last-child {
    padding-right: 15px;
  }
}
@media (max-width: 576px) {
  .your_policies .your_policies_ul .your_policies_li:last-child {
    background-color: transparent;
    border-top: 1px solid #eee;
    justify-content: start;
    height: 100%;
    padding: 15px 30px 20px 30px;
    margin-top: 10px;
  }
}
.your_policies .your_policies_ul .your_policies_li:last-child a {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (max-width: 576px) {
  .your_policies .your_policies_ul .your_policies_li:last-child a {
    flex-direction: row;
    align-items: center;
  }
}
.your_policies .your_policies_ul .your_policies_li:last-child a .your_policies_down {
  font-size: 15px;
  color: #f35356;
  line-height: 19px;
  font-weight: 500;
  text-decoration: underline;
}
@media (max-width: 1200px) {
  .your_policies .your_policies_ul .your_policies_li:last-child a .your_policies_down {
    font-size: 13px;
  }
}
@media (max-width: 576px) {
  .your_policies .your_policies_ul .your_policies_li:last-child a .your_policies_down {
    font-size: 15px;
  }
}
.your_policies .your_policies_ul .your_policies_li .your_policies_li_title {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 0;
  color: #34434c;
}
@media (max-width: 1200px) {
  .your_policies .your_policies_ul .your_policies_li .your_policies_li_title {
    font-size: 14px;
    line-height: 20px;
  }
}
.your_policies .your_policies_ul .your_policies_li .your_policies_li_sp {
  font-weight: 400;
  color: #999;
  line-height: 25px;
  font-size: 15px;
}
@media (max-width: 1200px) {
  .your_policies .your_policies_ul .your_policies_li .your_policies_li_sp {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 576px) {
  header.lk_header .header_block .header_contackt {
    gap: 5px;
  }
  header.lk_header .header_block .header_logo a img {
    width: 150px;
  }
  header.lk_header .header_block {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  header.lk_header .header_block .header_contackt {
    justify-content: end;
  }
}

header .header_block .header_contackt {
  gap: 25px;
}
@media (max-width: 576px) {
  header .header_block .header_contackt {
    justify-content: flex-end;
    gap: 8px;
  }
}
header .header_block .header_logo a img {
  width: 150px;
}

.login_lk_modal, .recovery_modal, .checking_modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  animation: fadeIn 0.3s ease-in-out;
  background-color: #fff;
  padding: 45px 45px 50px 45px;
  border-radius: 10px;
  max-width: 440px;
  width: 440px;
}
@media (max-width: 576px) {
  .login_lk_modal, .recovery_modal, .checking_modal {
    max-width: 90%;
    padding: 35px 20px;
    width: 90%;
  }
}

.login_lk_modal.show, .recovery_modal.show, .checking_modal.show {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 576px) {
  .login_lk_modal.show, .recovery_modal.show, .checking_modal.show {
    align-items: start;
  }
}

.checking_modal.show, .recovery_modal.show {
  align-items: start;
}

/* Style for the overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 11;
  animation: fadeIn 0.3s ease-in-out;
}

.overlay.show {
  display: block;
}

/* Animation for fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.closeModalBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.modal_title {
  font-size: 30px;
  line-height: 37px;
  font-weight: 700;
  color: #3b454d;
  color: #212529;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 576px) {
  .modal_title {
    font-size: 25px;
    line-height: 29px;
  }
}

.modal_subtitle {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: #666;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 576px) {
  .modal_subtitle {
    font-size: 14px;
    line-height: 20px;
  }
}

.modal_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal_form .modal_input_group {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
  width: 100%;
}
.modal_form .modal_input_group .modal_label {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.modal_form .modal_input_group .modal_label p {
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  color: #212529;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
}
.modal_form .modal_input_group .modal_label .modal_input_z {
  font-weight: 400;
  color: #666;
  line-height: 100%;
  font-size: 14px;
  height: 47px;
  border: 1px solid #666;
  border-radius: 10px;
  outline: none;
  max-width: 100%;
  width: 350px;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 576px) {
  .modal_form .modal_input_group .modal_label .modal_input_z {
    width: 100%;
  }
}
.modal_form .modal_actions {
  display: flex;
  align-items: center;
  gap: 15px;
}
.modal_form .modal_actions .ok_btn {
  height: 46px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 100%;
  border: none;
  background: linear-gradient(to bottom, #f34b58, #f3754b);
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 576px) {
  .modal_form .modal_actions .ok_btn {
    width: 160px;
    font-weight: 500;
  }
}
.modal_form .modal_actions .ok_btn.checking_btn {
  width: 220px;
}
@media (max-width: 576px) {
  .modal_form .modal_actions .ok_btn.checking_btn {
    width: 100%;
    padding: 10px 20px;
  }
}
.modal_form .modal_actions .recovery_btn {
  color: #666;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 576px) {
  .recovery_modal .modal_actions .ok_btn, .checking_modal .modal_actions .ok_btn {
    width: 100%;
  }
}

.checking_modal .modal_form .modal_actions .ok_btn {
  text-decoration: none;
  padding: 15px 20px;
  width: 270px;
}
@media (max-width: 576px) {
  .checking_modal .modal_form .modal_actions .ok_btn {
    width: 100%;
    padding: 10px 15px;
  }
}

.eng_wr .lk_btn p {
  padding-right: 0;
}
@media (max-width: 576px) {
  .eng_wr .checking_modal .modal_form .modal_actions .ok_btn {
    padding: 15px 10px;
  }
}
.eng_wr .modal_form .modal_actions .ok_btn {
  width: 290px;
}
@media (max-width: 576px) {
  .eng_wr .modal_form .modal_actions .ok_btn {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .eng_wr .modal_form .modal_actions {
    flex-wrap: wrap;
    justify-content: center;
  }
}

*, ul, ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-weight: 400;
  font-family: "Rubik";
}

.wrapper {
  overflow: hidden;
}
.wrapper .container {
  max-width: 1200px;
}

.section_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 700;
  padding: 90px 0 50px 0;
}
@media (max-width: 576px) {
  .section_title {
    display: flex;
    font-size: 25px;
    margin: 60px 0 30 0;
    width: auto;
    padding: 50px 0 25px 0;
  }
}

.information_button {
  display: flex;
  border: none;
  border-radius: 50%;
}
.information_button img {
  display: flex;
  border-radius: 50%;
}

select {
  border: none;
}

body {
  color: #34434c;
}

.switch-lang {
  width: 110px;
  text-align: left;
  cursor: pointer;
  z-index: 50;
  position: absolute;
  top: 20px;
  right: 111px;
}

.switch-lang:hover .lang-dropdown {
  display: block;
}

.switcher-link {
  color: #fff;
}

.switcher-link:hover {
  color: #fff;
}

.current-lang {
  padding: 3px 5px 0px 5px;
  border-radius: 5px;
}

.lang-flag {
  width: 20px;
  display: inline-block;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
}

.dropdown-toggle {
  position: relative;
}
.dropdown-toggle::after {
  background-image: url(../images/after.png);
  height: 6px;
  width: 10px;
  background-size: contain;
  border: none !important;
  transition: 0.3s all ease;
  background-repeat: no-repeat;
  background-position: center;
}
.dropdown-toggle.show::after {
  transform: rotate(180deg);
}

.lang-text {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
  margin-top: 2px;
}

.lang-dropdown {
  display: none;
  background: #34495e;
  border-radius: 5px;
  margin-top: 2px;
}

.selecting-lang {
  padding: 3px 5px 3px 5px;
  cursor: pointer;
}

.selecting-lang:hover {
  background: #22313f;
}

ul > :first-child {
  border-radius: 5px 5px 0px 0px;
}

ul > :last-child {
  border-radius: 0px 0px 5px 5px;
}

li {
  list-style-type: none;
}

.menu-arrow {
  display: inline-block;
  width: 10px;
  margin-left: 10px;
  vertical-align: top;
  margin-top: 6px;
}

.input_check {
  align-items: center;
  display: block;
  position: relative;
  padding-left: 25px;
  color: #666666;
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input_check span {
  font-size: 15px;
  font-weight: 600;
}
.input_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.input_check .checkmark {
  position: absolute;
  top: 2px !important;
  bottom: 0;
  margin: auto;
  left: 0;
  width: 15px;
  height: 14px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.06);
  border: 1px solid #d1d3d5;
  border-radius: 2px;
}
@media (max-width: 576px) {
  .input_check .checkmark {
    top: 5px;
    bottom: auto;
  }
}
.input_check:hover input ~ .checkmark {
  background-color: rgb(255, 255, 255);
}
.input_checkinput:checked ~ .checkmark {
  background-color: #2196F3;
  border-color: #f25461;
}
.input_check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.input_check input:checked ~ .checkmark:after {
  display: block;
  border-color: #f36b53;
}
.input_check input:checked ~ .checkmark {
  border-style: solid;
  border-width: 1px;
  background-color: rgb(255, 255, 255);
  border-color: #f25461;
  border-radius: 2px;
}
.input_check .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 9px;
  border: 1px solid #165ab7;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.input_check.medium {
  font-weight: 500;
}

.header_contackt {
  /* Dropdown Content (Hidden by Default) */
  /* Links inside the dropdown */
  /* Change color of dropdown links on hover */
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
}
.header_contackt .dropbtn {
  display: flex;
  gap: 10PX;
  align-items: center;
  border: none;
  background-color: transparent;
}
.header_contackt .dropbtn img {
  display: flex;
  border-radius: 50%;
  height: 33px;
  width: 33px;
}
.header_contackt .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  border-radius: 5px;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 5px;
}
.header_contackt .dropdown-content img {
  margin: 0 5px 0 0;
  border-radius: 50%;
  height: 33px;
  width: 30px;
}
.header_contackt .dropdown-content a {
  color: black;
  padding: 8px 3px;
  text-decoration: none;
  display: block;
}
.header_contackt .dropdown-content a:hover {
  background-color: #ddd;
}
.header_contackt .show {
  display: block;
}

.servis_item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.servis_item .servis_img {
  margin-bottom: 18px;
  display: flex;
}
.servis_item .servis_title {
  font-size: 17px;
  color: rgb(52, 67, 76);
  line-height: 1.353;
  font-weight: 500;
}

.swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.swiper-button-right {
  display: none;
  position: absolute;
  margin: auto;
  top: -94px;
  bottom: 0;
  z-index: 100;
  flex: auto;
  align-items: center;
  right: 60px;
}
@media (max-width: 768px) {
  .swiper-button-right {
    display: flex;
  }
}

.swiper-button-left {
  display: none;
  position: absolute;
  margin: auto;
  top: -94px;
  bottom: 0;
  left: 60px;
  z-index: 100;
  flex: auto;
  align-items: center;
  transform: rotate(180deg);
}
@media (max-width: 768px) {
  .swiper-button-left {
    display: flex;
  }
}

.swiper-pagination {
  display: none;
}
@media (max-width: 768px) {
  .swiper-pagination {
    display: block;
  }
}

.mySwiper1 {
  position: relative;
  padding: 30px 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, -2px);
  left: auto;
}

@media (max-width: 576px) {
  .tourists {
    order: 4;
  }
  .kalendar_return {
    order: 3;
  }
  .kalendar {
    order: 2;
  }
}
.swiper-pagination-bullet {
  height: 10px;
  width: 10px;
  background-color: #fff;
  opacity: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #375ab3;
}

.air-datepicker-cell.-min-date- {
  background-color: #5cc4ef;
  color: #fff;
}

.services .swiper-pagination-bullet {
  height: 10px;
  width: 10px;
  background-color: #e6e6e6;
  opacity: 1;
}
.services .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #375ab3;
}

.modal .modal-dialog {
  display: grid;
  --bs-modal-width: 780px;
}
@media (max-width: 992px) {
  .modal .modal-dialog {
    right: 10px;
  }
}
@media (max-width: 768px) {
  .modal .modal-dialog {
    display: grid;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .modal .modal-dialog {
    right: 0;
    top: 0;
    --bs-modal-width: 100%;
    --bs-modal-margin: 0;
    margin: 0 0 auto;
  }
}
.modal .modal-content {
  display: flex;
  padding: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(245, 245, 245);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.941);
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .modal .modal-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 13px;
    gap: 35px;
  }
}
@media (max-width: 576px) {
  .modal .modal-content {
    width: auto;
    overflow: auto;
    gap: 10px;
  }
}
.modal .modal-content .close {
  display: flex;
  justify-content: flex-end;
  border: none;
}
.modal .modal-content .close button {
  border: none;
  background-color: transparent;
}
.modal .modal-content .modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0 40px 56px 40px;
}
@media (max-width: 576px) {
  .modal .modal-content .modal-body {
    padding: 0 0 17px 17px;
    height: 490px;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}
.modal .modal-content .modal-body .modal-title {
  font-size: 25px;
  color: #34434c;
  font-weight: 600;
  margin-bottom: 35px;
}
@media (max-width: 576px) {
  .modal .modal-content .modal-body .modal-title {
    margin-bottom: 25px;
  }
}
.modal .modal-content .modal-body .countrys {
  display: flex;
  flex-wrap: wrap;
  gap: 116px;
}
@media (max-width: 768px) {
  .modal .modal-content .modal-body .countrys {
    gap: 50px;
  }
}
@media (max-width: 576px) {
  .modal .modal-content .modal-body .countrys {
    width: 100%;
    gap: 37px 100px;
  }
}
.modal .modal-content .modal-body .countrys li {
  line-height: 2.313;
}
.modal .modal-content .modal-body .countrys li a {
  font-size: 16px;
  font-weight: 400;
  color: rgb(52, 67, 76);
  text-decoration: none;
  transition: 0.3s all ease;
  border-bottom-width: 0;
  margin-bottom: 3px;
  position: relative;
}
.modal .modal-content .modal-body .countrys li a::before {
  content: "";
  height: 1px;
  position: absolute;
  width: 0;
  border-bottom: 1.5px solid #165ab7;
  bottom: 0;
  transition: 0.3s all ease;
}
.modal .modal-content .modal-body .countrys li a:hover {
  color: #165ab7;
}
.modal .modal-content .modal-body .countrys li a:hover::before {
  width: 100%;
}
.modal .modal-content .modal-body::-webkit-scrollbar {
  width: 3px;
}
.modal .modal-content .modal-body::-webkit-scrollbar-track {
  background-color: #e9e9ea;
  border-radius: 10px;
}
.modal .modal-content .modal-body::-webkit-scrollbar-thumb {
  background: #375ab3;
  border-radius: 10px;
}
.modal.show .modal-dialog {
  transform: none;
}

.pr_sp {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 28px;
  font-weight: 500;
  color: #fef7f7;
  position: absolute;
  right: 24px;
  top: 0;
  bottom: 0;
  gap: 10px;
}

.buy_insurance_button {
  position: relative;
}

footer.footer .phones {
  background-image: -webkit-linear-gradient(90deg, rgb(243, 118, 75) 0%, rgb(243, 75, 88) 100%);
}
@media (max-width: 576px) {
  footer.footer .phones {
    margin-bottom: 10px;
  }
}
footer.footer .img-fluid {
  margin-right: 20px;
}
@media (max-width: 576px) {
  footer.footer .img-fluid {
    margin-right: 0px;
  }
}
@media (max-width: 576px) {
  footer.footer .phone {
    text-align: center;
  }
}
@media (max-width: 576px) {
  footer.footer .footer_block {
    padding-bottom: 0;
    width: 100%;
  }
}
@media (max-width: 576px) {
  footer.footer .footer_block .footer_contact {
    gap: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 576px) {
  footer.footer .footer_block .contack_block {
    width: 100%;
  }
}
footer.footer .footer_block .footer_contact .number_phone_email .email a {
  color: #f34a58;
}
@media (max-width: 576px) {
  footer.footer .footer_block .footer_contact .number_phone_email {
    width: 100%;
    border-bottom: 1px solid #3d3d3d;
    margin-bottom: 0;
    padding-bottom: 20px;
  }
}
@media (max-width: 576px) {
  footer.footer .footer_block .footer_contact .number_phone_email .email {
    text-align: center;
  }
}
@media (max-width: 576px) {
  footer.footer .mobile_nones {
    display: none;
  }
}
footer.footer .mobile_title {
  text-decoration: underline;
  display: none;
}
@media (max-width: 576px) {
  footer.footer .mobile_title {
    display: block;
    padding: 18px 0;
    font-weight: 700;
    background: #2d2d2d;
    text-align: center;
    color: #fff;
  }
  footer.footer .mobile_title span {
    font-size: 14px;
    font-weight: 500;
  }
}
@media (max-width: 576px) {
  footer.footer .contact_img:nth-child(1) {
    border-top: 1px solid #383838;
    order: 5;
    padding: 10px 0 14px;
  }
}

.buy_insurance.active .your_Insurance .choose_block_fixed {
  display: flex;
}
@media (max-width: 768px) {
  .buy_insurance {
    margin-bottom: 100px;
  }
}
.buy_insurance .your_Insurance {
  display: flex;
  justify-content: center;
  max-width: 915px;
  flex-direction: column;
  margin: 0 auto;
}
.buy_insurance .your_Insurance .choose_block {
  background-color: #f4f8fd;
  border-radius: 10px;
}
.buy_insurance .your_Insurance .choose_block .choose_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #feffff;
  padding: 30px 40px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(245, 245, 245);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.929);
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
}
@media (max-width: 576px) {
  .buy_insurance .your_Insurance .choose_block .choose_item {
    padding: 30px 20px;
  }
}
.buy_insurance .your_Insurance .choose_block .choose_item .your_variant {
  border-right: 1px solid #eeeded;
  padding-right: 56px;
  flex: 0 0 75%;
}
@media (max-width: 576px) {
  .buy_insurance .your_Insurance .choose_block .choose_item .your_variant {
    border-bottom: 1px solid #eeeded;
    margin-bottom: 20px;
    flex: 0 0 100%;
    padding: 0;
  }
}
@media (max-width: 992px) {
  .buy_insurance .your_Insurance .choose_block .choose_item .your_variant {
    padding-right: 13px;
  }
}
@media (max-width: 768px) {
  .buy_insurance .your_Insurance .choose_block .choose_item .your_variant {
    border-right: none;
  }
}
.buy_insurance .your_Insurance .choose_block .choose_item .your_variant .ingostrah_logo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  object-fit: cover;
  margin-bottom: 25px;
}
.buy_insurance .your_Insurance .choose_block .choose_item .your_variant .variant_title {
  font-size: 16px;
  color: #34434c;
  line-height: 1.2;
  text-align: left;
  font-weight: 400;
  margin-bottom: 12px;
}
.buy_insurance .your_Insurance .choose_block .choose_item .your_variant .variant_title span {
  font-weight: 500;
  color: #165ab7;
}
.buy_insurance .your_Insurance .choose_block .choose_item .your_variant .variant_types {
  display: flex;
  gap: 9px;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .buy_insurance .your_Insurance .choose_block .choose_item .your_variant .variant_types {
    margin-bottom: 20px;
    flex-direction: column;
  }
}
.buy_insurance .your_Insurance .choose_block .choose_item .your_variant .variant_types .types_block {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  height: 50px;
  overflow: hidden;
  transition: 0.3s all ease;
}
.buy_insurance .your_Insurance .choose_block .choose_item .your_variant .variant_types .types_block .type {
  display: flex;
  gap: 0 6px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-color: #d7edd9;
  border-radius: 6px;
  background-color: rgb(232, 243, 254);
}
@media (max-width: 768px) {
  .buy_insurance .your_Insurance .choose_block .choose_item .your_variant .variant_types .types_block .type {
    padding: 8px;
  }
}
.buy_insurance .your_Insurance .choose_block .choose_item .your_variant .variant_types .types_block .type img {
  display: inline-flex;
}
.buy_insurance .your_Insurance .choose_block .choose_item .your_variant .variant_types .types_block.show {
  height: auto;
}
@media (max-width: 768px) {
  .buy_insurance .your_Insurance .choose_block .choose_item .your_variant .variant_types .types_block {
    height: 45px;
  }
}
@media (max-width: 576px) {
  .buy_insurance .your_Insurance .choose_block .choose_item .your_variant .variant_types .types_block {
    height: 135px;
  }
}
.buy_insurance .your_Insurance .choose_block .choose_item .your_variant .variant_types .show_all {
  flex: 0 0 auto;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
  height: 45px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  color: #fff;
  background-color: rgb(0, 70, 191);
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  padding-right: 15px;
  background-image: url(../images/select_arrow_white.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
}
.buy_insurance .your_Insurance .choose_block .choose_item .Insurance_price {
  display: flex;
  flex-direction: column;
}
.buy_insurance .your_Insurance .choose_block .choose_item .Insurance_price .price_title {
  font-weight: 400;
  font-size: 15px;
  color: #afafaf;
}
.buy_insurance .your_Insurance .choose_block .choose_item .Insurance_price .price {
  font-weight: 500;
  font-size: 29px;
  color: #0046bf;
  text-align: center;
}
.buy_insurance .your_Insurance .choose_block .sport {
  display: flex;
  gap: 11px;
  align-items: center;
  border: 1px solid #e5ecf8;
  padding: 19px 0 19px 42px;
  border-top: none;
  border-radius: 10px;
}
.buy_insurance .your_Insurance .choose_block .sport input {
  cursor: pointer;
}
.buy_insurance .your_Insurance .choose_block_fixed {
  display: none;
  position: fixed;
  width: 90%;
  top: 0px;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #feffff;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(245, 245, 245);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
  z-index: 55;
}
@media (max-width: 992px) {
  .buy_insurance .your_Insurance .choose_block_fixed {
    width: 98%;
  }
}
.buy_insurance .your_Insurance .choose_block_fixed .fixed_in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  width: 100%;
}
@media (max-width: 992px) {
  .buy_insurance .your_Insurance .choose_block_fixed .fixed_in {
    padding: 10px 15px;
  }
}
@media (max-width: 420px) {
  .buy_insurance .your_Insurance .choose_block_fixed .fixed_in {
    gap: 10px;
    padding: 7px 10px;
  }
}
@media (max-width: 992px) {
  .buy_insurance .your_Insurance .choose_block_fixed .fixed_in .ingostrah_logo a img {
    width: 150px;
  }
}
@media (max-width: 576px) {
  .buy_insurance .your_Insurance .choose_block_fixed .fixed_in .ingostrah_logo a img {
    width: 120px;
  }
}
@media (max-width: 420px) {
  .buy_insurance .your_Insurance .choose_block_fixed .fixed_in .ingostrah_logo a img {
    width: 100px;
  }
}
.buy_insurance .your_Insurance .choose_block_fixed .fixed_in .insurance_price {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 992px) {
  .buy_insurance .your_Insurance .choose_block_fixed .fixed_in .insurance_price {
    gap: 10px;
  }
}
@media (max-width: 576px) {
  .buy_insurance .your_Insurance .choose_block_fixed .fixed_in .insurance_price {
    gap: 5px;
  }
}
.buy_insurance .your_Insurance .choose_block_fixed .fixed_in .insurance_price .price_title {
  font-weight: 600;
  font-size: 15px;
  color: #525657;
}
@media (max-width: 992px) {
  .buy_insurance .your_Insurance .choose_block_fixed .fixed_in .insurance_price .price_title {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .buy_insurance .your_Insurance .choose_block_fixed .fixed_in .insurance_price .price_title {
    font-size: 13px;
  }
}
@media (max-width: 420px) {
  .buy_insurance .your_Insurance .choose_block_fixed .fixed_in .insurance_price .price_title {
    display: none;
  }
}
@media (max-width: 420px) {
  .buy_insurance .your_Insurance .choose_block_fixed .fixed_in .insurance_price .price_title.eng_t {
    display: block;
  }
}
.buy_insurance .your_Insurance .choose_block_fixed .fixed_in .insurance_price .price {
  font-weight: 700;
  font-size: 29px;
  color: #f36a4f;
  text-align: center;
}
@media (max-width: 992px) {
  .buy_insurance .your_Insurance .choose_block_fixed .fixed_in .insurance_price .price {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .buy_insurance .your_Insurance .choose_block_fixed .fixed_in .insurance_price .price {
    font-size: 18px;
  }
}
.buy_insurance .your_Insurance .your_details .traveler_information .travel_one, .buy_insurance .your_Insurance .your_details .traveler_information .travel_two {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 36px 40px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(245, 245, 245);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.929);
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 576px) {
  .buy_insurance .your_Insurance .your_details .traveler_information .travel_one, .buy_insurance .your_Insurance .your_details .traveler_information .travel_two {
    padding: 30px;
  }
}
.buy_insurance .your_Insurance .your_details .traveler_information .travel_one .form_title, .buy_insurance .your_Insurance .your_details .traveler_information .travel_two .form_title {
  font-size: 20px;
  font-weight: 700;
  color: #34434c;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .buy_insurance .your_Insurance .your_details .traveler_information .travel_one .form_title, .buy_insurance .your_Insurance .your_details .traveler_information .travel_two .form_title {
    font-size: 17px;
  }
}
.buy_insurance .your_Insurance .your_details .traveler_information .travel_one .questions, .buy_insurance .your_Insurance .your_details .traveler_information .travel_two .questions {
  display: flex;
  font-size: 16px;
  color: #666666;
  font-weight: 400;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}
.buy_insurance .your_Insurance .your_details .traveler_information .travel_one .travel_info, .buy_insurance .your_Insurance .your_details .traveler_information .travel_two .travel_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.buy_insurance .your_Insurance .your_details .traveler_information .travel_one .travel_info input, .buy_insurance .your_Insurance .your_details .traveler_information .travel_two .travel_info input {
  outline: none;
  box-shadow: none;
  display: flex;
  flex: 0 0 auto;
  width: calc(33.3333% - 13px);
  height: 47px;
  border: 1px solid #ddefdd;
}
@media (max-width: 576px) {
  .buy_insurance .your_Insurance .your_details .traveler_information .travel_one .travel_info input, .buy_insurance .your_Insurance .your_details .traveler_information .travel_two .travel_info input {
    width: 100%;
    margin-bottom: 9px;
  }
}
.buy_insurance .your_Insurance .your_details .traveler_information .travel_insured {
  display: flex;
  gap: 5px;
  padding: 20px 40px;
  font-size: 15px;
  font-weight: 400;
  color: #34434c;
}
.buy_insurance .your_Insurance .your_details .traveler_information .travel_insured form {
  display: flex;
  gap: 10px;
}
.buy_insurance .your_Insurance .your_details .traveler_information .travel_insured form input {
  cursor: pointer;
}
.buy_insurance .your_Insurance .your_details .traveler_information .add_button {
  margin-bottom: 63px;
}
@media (max-width: 576px) {
  .buy_insurance .your_Insurance .your_details .traveler_information .add_button {
    margin-bottom: 55px;
  }
}
.buy_insurance .your_Insurance .your_details .traveler_information .add_button button {
  display: flex;
  gap: 8px;
  align-items: center;
  border: none;
  border-radius: 6px;
  background-color: rgb(22, 90, 183);
  padding: 17px 25px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 0;
}
.buy_insurance .your_Insurance .your_details .traveler_information .Policyholder_data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 36px 40px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(245, 245, 245);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.929);
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 45px;
}
@media (max-width: 576px) {
  .buy_insurance .your_Insurance .your_details .traveler_information .Policyholder_data {
    margin-bottom: 30px;
    padding: 30px;
  }
}
.buy_insurance .your_Insurance .your_details .traveler_information .Policyholder_data .form_title {
  font-size: 20px;
  font-weight: 700;
  color: #34434c;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .buy_insurance .your_Insurance .your_details .traveler_information .Policyholder_data .form_title {
    margin-bottom: 17px;
    font-size: 17px;
  }
}
.buy_insurance .your_Insurance .your_details .traveler_information .Policyholder_data .questions {
  display: flex;
  font-size: 16px;
  color: #666666;
  font-weight: 400;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}
.buy_insurance .your_Insurance .your_details .traveler_information .Policyholder_data .travel_info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  justify-content: space-between;
  gap: 20px 0;
}
.buy_insurance .your_Insurance .your_details .traveler_information .Policyholder_data .travel_info input {
  outline: none;
  box-shadow: none;
  display: flex;
  flex: 0 0 auto;
  width: calc(33.3333% - 13px);
  height: 47px;
}
@media (max-width: 576px) {
  .buy_insurance .your_Insurance .your_details .traveler_information .Policyholder_data .travel_info input {
    width: 100%;
  }
}
.buy_insurance .your_Insurance .your_details .traveler_information .Policyholder_data .add_button {
  margin-bottom: 4px;
}
.buy_insurance .your_Insurance .buy_insurance_button {
  margin-bottom: 90px;
}
@media (max-width: 768px) {
  .buy_insurance .your_Insurance .buy_insurance_button {
    margin-bottom: 0;
  }
}
.buy_insurance .your_Insurance .buy_insurance_button button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 27px 0;
  border-radius: 6px;
  background-image: linear-gradient(97deg, rgb(22, 90, 183) 0%, rgb(19, 58, 112) 100%);
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid #165ab7;
  line-height: 0;
}
.buy_insurance .your_Insurance .buy_insurance_button .confirmatiom {
  font-weight: 400;
  color: #666666;
  font-size: 14px;
  color: rgb(102, 102, 102);
  line-height: 1.286;
  text-align: center;
  z-index: 257;
}
.buy_insurance .your_Insurance .buy_insurance_button .confirmatiom a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  border-bottom: 1px solid #666666;
}

.payment_block .section_title_payment {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  max-width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .payment_block .section_title_payment {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .payment_block .section_title_payment {
    font-size: 27PX;
  }
}
.payment_block .Payment_description {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 30px;
  line-height: 1.5;
}
.payment_block .choose_payment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 53px 20px;
  gap: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(245, 245, 245);
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0px 0 32.5px rgba(243, 75, 88, 0.39);
  width: 50%;
  margin: 0 auto;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .payment_block .choose_payment {
    width: 60%;
  }
}
@media (max-width: 1024px) {
  .payment_block .choose_payment {
    width: 70%;
  }
}
@media (max-width: 992px) {
  .payment_block .choose_payment {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .payment_block .choose_payment {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .payment_block .choose_payment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    flex-direction: column;
  }
}
.payment_block .choose_payment .Russian_map_jar {
  position: relative;
  z-index: 3;
}
.payment_block .choose_payment .Russian_map_jar,
.payment_block .choose_payment .Other_bank_card {
  display: flex;
  text-align: start;
  flex-wrap: wrap;
  padding: 20px;
  font-size: 16px;
  color: #666666;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(235, 236, 238);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.06);
  width: calc(50% - 8px);
  box-shadow: 0 0 19px rgba(93, 93, 93, 0.22);
}
@media (max-width: 576px) {
  .payment_block .choose_payment .Russian_map_jar,
  .payment_block .choose_payment .Other_bank_card {
    width: 100%;
    padding: 15px;
  }
}
.payment_block .choose_payment .check_info {
  position: absolute;
  right: 10px;
  top: 14px;
  cursor: pointer;
}
.payment_block .choose_payment .info {
  position: absolute;
  width: 315px;
  z-index: 22;
  top: 10px;
}
.payment_block .choose_payment .info .info_text {
  width: 275px;
  border: 1px solid #fef0f1;
  background: #fff;
  border-radius: 12px;
  position: absolute;
  font-size: 13px;
  line-height: 18px;
  color: #212529;
  padding: 14px 18px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #212529;
  text-align: left;
  left: 50%;
  opacity: 0;
  transform: scale(0);
  transition: all 0.2s linear;
}
@media (max-width: 576px) {
  .payment_block .choose_payment .info .info_text {
    left: 10px;
    top: 46px;
    width: 100%;
  }
}
.payment_block .choose_payment .info .info_text.active {
  opacity: 1;
  transform: scale(1);
}
.payment_block .choose_payment .info .info_text::before {
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  left: -7px;
  top: 27px;
  transform: rotate(45deg);
  background: #fff;
}
@media (max-width: 576px) {
  .payment_block .choose_payment .info .info_text::before {
    left: auto;
    right: 24px;
    top: -7px;
  }
}
.payment_block .choose_payment .info .info_text a {
  color: #e30613;
  font-weight: 500;
  text-decoration: none;
}
@media (max-width: 576px) {
  .payment_block .choose_payment .info {
    width: calc(100% - 20px);
    left: 0;
  }
}
@media (max-width: 576px) {
  .payment_block .bg::after {
    right: -143px;
    top: 34px;
  }
}

.Continue {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 78px;
  border-radius: 42px;
  border: none;
  background-color: #375ab3;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  position: relative;
  top: -30px;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(190, 190, 190);
  background-color: rgb(55, 90, 179);
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.06);
}

.thanks .img_check img {
  width: 53px;
}
@media (max-width: 576px) {
  .thanks .img_check img {
    width: 37px;
  }
}
.thanks .section_title_payment {
  font-size: 47px;
  max-width: 570px;
  padding-top: 10px;
}
@media (max-width: 768px) {
  .thanks .section_title_payment {
    font-size: 23px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 800;
  }
}
.thanks .Payment_description {
  border-bottom: 1px solid #53575b;
  padding: 20px 106px;
  padding-bottom: 25px;
  max-width: 890px;
  margin: 0 auto;
  font-size: 17px;
  line-height: 25px;
  color: #cecece;
  font-weight: 500;
  margin-bottom: 46px;
  position: relative;
}
.thanks .Payment_description::after, .thanks .Payment_description::before {
  content: "";
  width: 100%;
  max-width: 775px;
  margin: 0 auto;
  position: absolute;
  bottom: -7px;
  height: 1px;
  border-top: 1px solid #53575b;
  opacity: 0.878;
  display: block;
  left: 0;
  right: 0;
}
@media (max-width: 576px) {
  .thanks .Payment_description::after, .thanks .Payment_description::before {
    max-width: 255px;
  }
}
.thanks .Payment_description::before {
  max-width: 660px;
  bottom: -12px;
}
@media (max-width: 576px) {
  .thanks .Payment_description::before {
    max-width: 217px;
  }
}
@media (max-width: 576px) {
  .thanks .Payment_description {
    padding: 18px 10px;
    font-size: 15px;
    line-height: 22px;
  }
}
.thanks .contanct_title {
  text-align: center;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  font-weight: 700;
  width: 100%;
  max-width: 595px;
  margin: 0 auto;
  padding-bottom: 20px;
}
@media (max-width: 576px) {
  .thanks .contanct_title {
    font-size: 15px;
    line-height: normal;
  }
}
.thanks .contact_btn_lists {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.thanks .contact_btn_lists li {
  position: relative;
}
.thanks .contact_btn_lists li::after, .thanks .contact_btn_lists li::before {
  content: "";
  width: 23px;
  height: 23px;
  border-radius: 50%;
  display: block;
  background-color: #f34b58;
  position: absolute;
  top: -5px;
  left: 45px;
  z-index: 1;
}
.thanks .contact_btn_lists li::before {
  top: auto;
  bottom: -4px;
  left: -5px;
  right: auto;
}
.thanks .contact_btn_lists a {
  display: flex;
  background: #fff;
  align-items: center;
  width: fit-content;
  justify-content: center;
  gap: 5px;
  padding: 20px;
  border-radius: 14px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  box-shadow: 0 0 10px #fff;
  font-weight: 700;
  text-decoration: none;
  gap: 10px;
  position: relative;
  z-index: 2;
}
@media (max-width: 576px) {
  .thanks .contact_btn_lists a {
    padding: 14px 20px;
    font-size: 14px;
  }
}
.thanks .contact_btn_lists a img {
  box-shadow: 0 0 27px #ffffff;
  width: 25px;
}

.confirm .choose_block {
  margin-top: 24px;
}
.confirm .visa_Insurance.pay {
  padding-bottom: 75px;
}
.confirm .buttonlists {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  gap: 8px;
}
@media (max-width: 576px) {
  .confirm .buttonlists {
    flex-wrap: wrap;
  }
}
.confirm .payment_block .bg::after {
  top: auto;
  bottom: -90px;
  right: -108px;
}
@media (max-width: 576px) {
  .confirm .payment_block .bg::before {
    top: -160px;
    left: -119px;
  }
}
.confirm .cards {
  position: relative;
  z-index: 2;
}
.confirm .title {
  color: #666;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 15px;
}
.confirm .name {
  margin-bottom: 18px;
  font-size: 22px;
  color: #212529;
  font-weight: 700;
}
.confirm .insured {
  padding: 18px 0;
  border-top: 1px solid #f9dfdf;
  border-bottom: 1px solid #f9dfdf;
}
.confirm .insured h4 {
  font-size: 18px;
  color: #212529;
  font-weight: 700;
  text-align: left;
}
.confirm .insured_list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
@media (max-width: 576px) {
  .confirm .insured_list {
    flex-direction: column;
  }
}
.confirm .insured_item {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #666666;
  font-weight: 500;
}
.confirm .circle {
  width: 24px;
  height: 24px;
  filter: drop-shadow(0px 7px 5px rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(0deg, #f3764b 0%, #f34b57 100%);
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 8px;
}
.confirm .region, .confirm .email, .confirm .amount {
  font-size: 14px;
  margin-bottom: 8px;
  text-align: left;
}
.confirm .sum {
  background: linear-gradient(90deg, #FF6A6A, #FF914D); /* Gradient rangi */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 8px;
  color: #212529;
  font-weight: 700;
}
.confirm .phone_label {
  display: block;
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
}
.confirm .phone_input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 0px;
  border: 1px solid #f9dfdf;
  outline: none;
  border-radius: 8px;
  font-size: 14px;
  transition: all 0.2s linear;
}
.confirm .phone_input:focus {
  border: 1px solid #ec5605;
}
.confirm .buttons {
  display: flex;
  gap: 10px;
}
.confirm .confirm_info {
  padding: 20px 0;
  border-bottom: 1px solid #f9dfdf;
}
.confirm .confirm_info .amount {
  margin-bottom: 0;
}
.confirm button.Continue {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  padding: 24px 60px;
  border-width: 0;
  transition: all 0.2s linear;
}
.confirm button.Continue:hover {
  transform: scale(0.96);
}
@media (max-width: 576px) {
  .confirm button.Continue {
    top: 24px;
    width: 254px !important;
  }
}
.confirm button.edit {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  padding: 24px 25px;
  border-radius: 40px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  text-align: center;
  border: none;
  background: #fff; /* Orqa fon */
}
.confirm button.edit::before {
  content: "ИСПРАВИТЬ ДАННЫЕ";
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  background: linear-gradient(90deg, rgb(243, 118, 75) 0%, rgb(243, 75, 88) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  z-index: 2;
}
.confirm button.edit::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 40px;
  padding: 3px;
  background: linear-gradient(135deg, #ff7a5f, #ff3d67);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
}/*# sourceMappingURL=main.css.map */